li a{
  color:white;
  background-color:red
}

#explanation{
  color:black;
}
.color-info{
  border:3px solid #000
}
#about_blue{
  background-color: #6495ED
}
#about_blue ul{
  color:blue;
}
#about_yellow{
  background-color: #FFEBCD
}
#about_yellow ul{
  color:orange;
}
.important{
  font-weight:bold;
}
